
* {
box-sizing: border-box;
}
header {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    padding: 15px 30px;
}

header h1 {
    margin: 0 0 10px 0; 
}

nav {
    display: flex;
    justify-content: flex-end; 
}

.main-nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px; 
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    max-width: 1280px;
    margin: auto;
    padding: 1em;
}

.main-nav {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}


@media (min-width: 600px){
    .media-card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .media-card-container h2 {
        align-self: flex-start;
        margin-bottom: 10px;
    }

    .media-card-container .media-card {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
    }

    .media-card-container img {
        flex: 1 1 30px;
        height: auto;
    }

    .media-card-content {
        flex: 1;
    }

    hr {
        width: 100%;
        margin-top: 25px;
    }

    .gallery-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .gallery-container h2 {
        align-self: flex-start;
        margin-bottom: 30px;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
    }

    .gallery .media-card {
        display: flex;
        align-items: flex-start;
        gap: 15px;
        flex: 1 1 calc(50% - 20px); /* makes two items per row in a flex container */
    }

    .gallery img {
        width: 150px;
        height: 129px;
    }
}