
body {
    font-family: 'Times New Roman', Times, serif;
}
header, footer{
    text-align: center;
}
nav{
    border-bottom: 3px solid gold;
    border-top: 3px solid gold;
    text-align: right;
    padding: 20px;
    margin: 5px;
    margin-bottom: 60px;
}
nav a{
    text-decoration: none;
    color: #2e0854;
}
.book-club{
    border-top: 3px gold solid;
    padding: 10px;
}
.main-nav{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: end;
    justify-items: end;
}
#content{
    border-bottom: 3px solid gold;
    margin: 5px;
    padding: 10px 50px;
}
#blog-articles{
    /* display: grid; */
    color: black;
    /* grid-template-columns: 3fr 1fr; */
    /* grid-template-rows: 1fr 3fr; */
}
.details{
    text-align: right;
    padding: 25px;
}
article img{
    display: block;
    margin: auto;
}
article h2{
    color: red;
    padding: 5px;
}

@media screen and (min-width: 680px) {
    #blog-articles .book-club{
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding-right: 0px;
        border: none;
        
    }
    .details {
        border-right: 3px solid gold;
        border-top: none;
    }
    main {
        display: grid;
        grid-template-columns: 4fr 1fr;
    }
    article {
        padding-left: 140px;
        padding: 40px;
    }
    .book-club{
        margin: 20px;
    }
}

@media screen and (min-width: 1000px) {
    body {
        max-width: 1600px;
        margin: 0 auto; 
    }

    nav {
        font-size: 1.2rem;
    }

    .main-nav {
        grid-template-columns: repeat(4, 120px); 
        justify-content: end;
    }

    main {
        display: grid;
        grid-template-columns: 3fr 1fr; 
        gap: 40px;
    }

    article {
        padding: 60px;
        font-size: 1.1rem;
    }
    footer {
        font-size: 1rem;
    }
}
